body {
  background-image: url("/static/images/romanian-flag.gif");
  background-repeat: repeat;
  font-family: 'Press Start 2P', cursive;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  padding: 15px;
}
td {
  padding: 5px;
  text-align: center;
}

.halfwidth {
  /*width: 60%;
  margin: auto;*/
  background-image: url("/static/images/texture.jpg");
  background-repeat: repeat;
  padding: 10px;
  border: 5px inset grey;
}

.bottom {
  margin-bottom: 50px;
}

#numguests, .old-in {
  border-radius: 0;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

#title {
  margin-top: 50px;
  font-family: 'Press Start 2P', cursive;
  height: 200px;
  background-image: url("/static/images/fire.gif");
  background-repeat: repeat-x;
  animation: color-change 1s infinite;
}

#visitors0, #visitors2, #visitors4 {
  color: #a03;
  text-shadow: 0px 0px 2px #fff, 0px 0px 4px #fff;
  background-color: #03a;
  border: 2px inset grey;
  padding: 5px;
}
#visitors1, #visitors3 {
  color: #ebeb34;
  text-shadow: 0px 0px 2px #fff;
  background-color: #03a;
  border: 2px inset grey;
  padding: 5px;
}

@keyframes color-change {
  0% { color: red;
       text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red;
     }
  50% { color: green;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px green;
      }
  100% { color: red;
       text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red;
       }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 300;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: #bbb;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: green;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: red;
  color: white;
  justify-content: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 300; opacity: 1}
}

.small-font {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    padding-left: 50px;
}

.bg-font {
    background-image: url("/static/images/texture.jpg");
    background-repeat: repeat;
}

audio {
    /*height:200px; width:300px; background:yellow;*/
}

audio::-webkit-media-controls-enclosure {
    border-radius: 0;
    border: 3px outset lightgray;
}
audio::-webkit-media-controls-panel {
    background-image: linear-gradient(#bbb, #fff)
}
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-control-container,
audio::-webkit-media-controls-play-button {
    height: 30px;
    background-color: lightgrey;
}